<div class="container">
  <form #usersForm="ngForm" (ngSubmit)="checkIfExist(usersForm.value)">
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Name</label>
      <input type="text" ngModel name="name" class="form-control" id="name" />
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Phone</label>
      <input type="text" ngModel name="phone" class="form-control" id="name" />
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input
        type="email"
        name="email"
        class="form-control"
        id="exampleInputEmail1"
        ngModel
        aria-describedby="emailHelp"
      />
      <div id="emailHelp" class="form-text">
        We'll never share your email with anyone else.
      </div>
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">PassWord</label>
      <input
        type="text"
        name="password"
        class="form-control"
        id="exampleInputEmail1"
        ngModel
        aria-describedby="password"
      />
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Country</label>
      <input
        type="text"
        name="country"
        class="form-control"
        ngModel
        id="phone"
      />
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">State</label>
      <input type="text" class="form-control" ngModel name="state" id="phone" />
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">City</label>
      <input type="text" name="city" class="form-control" ngModel id="phone" />
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Zip</label>
      <input type="number" class="form-control" ngModel name="zip" id="phone" />
    </div>

    <!-- <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label" id="message"
        >Do You have any message for us</label
      >
      <textarea
        class="form-control"
        id="exampleFormControlTextarea1"
        rows="3"
      ></textarea>
    </div> -->
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="checkbox" />
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary" id="submit">Submit</button>
  </form>
</div>
