<div class="container">
  <form #parcelForm="ngForm" (ngSubmit)="placeOrder(parcelForm.value)">
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Type</label>
      <input type="text" ngModel name="type" class="form-control" id="type" />
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label"
        >Weight(in gms)</label
      >
      <input
        type="number"
        ngModel
        name="weight"
        class="form-control"
        id="weight"
      />
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Length(in cms)</label>
      <input
        type="number"
        name="length"
        class="form-control"
        id="exampleInputEmail1"
        ngModel
        aria-describedby="emailHelp"
      />
    </div>

    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label"
        >Width(in cms)</label
      >
      <input type="text" name="breadth" class="form-control" ngModel />
    </div>

    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label"
        >PickUp Address</label
      >
      <input type="text" name="pickupAdd" class="form-control" ngModel />
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Drop Address</label>
      <input type="text" class="form-control" ngModel name="dropAdd" />
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label"
        >Alternate Phone No</label
      >
      <input type="number" class="form-control" ngModel name="alternatePhone" />
    </div>
    <div class="mb-3">
      <label for="mob_no" class="col-md-3 control-label">Profile Image</label>
      <div class="col-sm-9">
        <input
          type="file"
          ngModel
          name="imageUrlVar"
          name="imageUrlVar"
          accept=""
        />
      </div>
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="checkbox" />
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary" id="submit">Submit</button>
  </form>
</div>
